.Toolbar{
    background-color: #ABA7C6;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;  
    border-top: solid 1px #7c76a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h6{
    font-family: Verdana, sans-serif;
    text-align: center;
}